@import "tailwindcss";

:root {
  /* PRIMARY */
  --white: #F5F5F5;
  --black: #222222;
  --green: #9CCF69;
  --orange: #F95738;

  /* SECONDARY */
  --blue-light: #8AC4FF;
  --pink: #F2849E;
  --green-dark: #2C452B;
  --orange-dark: #823038;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
  margin: 0;
}
